{%extends 'all-galleries/base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid" id="container">
    <div class="row-align-items-center">
        {% for cat in image %}
        <div class="card">
            <div class="card-body">
                <h2 style="text-decoration-line:none">Category-Photo: {{cat.category.cat_name}}</h2>
                <br>
                <div class="thumbnail" style="background-color: white">
                    <img style="height: 35%;width:55%" src="{{cat.image.url}}" class="img img-responsive full-width" alt="img-responsive">

                </div>
            </div>
        </div>

         <!--Modal-->
    <div class="modal fade" id="{{img.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--including the title-->
                    <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="modal-body">
                        <img src="{{img.image.url}}" class="img-fluid" data-toggle="modal" data-target="#{{img.id}}" style="width: 100%;margin-left:3%">
                        <p><strong> Image-Location:</strong> {{img.location}}</p>
                        <p><strong> Category:</strong> {{img.category}}</p>
                        <p><strong>Copy image address</strong><a href="http://127.0.0.1:8000{{img.image.url}}" id="myInput">http://127.0.0.1:8000{{img.image.url}}</a> </p>
                    </div>
                    <div class="modal-footer">
                       <button type="button" class="btn-btn-danger" data-dismiss="modal" style="font-style: italic;background-color: rgb(0, 255, 221)">Close</button>
                
                    </div>
                </div>

            </div>

        </div>

    </div>
        {% endfor %}
    </div>
</div>

{% endblock %}