{%extends 'all-galleries/base.html'%}

{% block content %}
{{block.super}}
<div class="container-fluid" id="container">
    <div class="row-align-items-center">
        {% for lo in image %}
        <div class="card">
            <div class="card-body">
                <h2>{{lo.location.location_image}}</h2>
                <br>
                <div class="thumbnail" style="background-color: white">
                    <img style="height: 35%; width:55%" src="{{lo.image.url}}" class="img img-responsive full-width" alt="img-responsive">

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}