
{%extends 'all-galleries/base.html'%}

{% block content %}
{{block.super}}

<!-- <h1> Welcome to My Gallery</h1> -->
<div class="row" style="margin-bottom: 3%">
    {% for img in image %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="margin-top: 3%">
            <img src="{{img.image.url}}" width="400" height="370" class="img-thumbnail" alt="Image" data-toggle="modal" data-target="#{{img.id}}">
            <h2 style="font-style: italic;font-size:25px"><strong> {{img.image_name}}</strong></h2>
            <h2 style="font-style: italic;font-size:20px"><strong> {{img.image_description}}</strong></h2>
        </div>
    <!--Modal-->
    <div class="modal fade" id="{{img.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!--including the title-->
                    <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="modal-body">
                        <img src="{{img.image.url}}" class="img-fluid" id="mylink" data-toggle="modal" data-target="#{{img.id}}" alt="image-responsive">
                        <p><strong> Image-Location:</strong> {{img.location}}</p>
                        <p><strong> Category:</strong> {{img.category}}</p>

                    </div>
                    <div class="modal-footer">
                        <input class="form-control" type="text" value="http://127.0.0.1:8000{{img.image.url}}" id="thislinkhere-{{img.id}}">
                        <a onclick="copyLink('{{img.id}}')"><button type="button" class="btn btn-outline-danger my-2 my-sm-0 link-btn">Copy
                            image Link</button></a>
                
                    </div>
                </div>

            </div>

        </div>

    </div>
    {% endfor%}
</div>

{% endblock %}
